<form nz-form [nzLayout]="'horizontal'" [formGroup]="reinitPasswordForm" class="login-form" (ngSubmit)="valid()">
  <nz-form-item>
    <nz-form-control nzHasFeedback nzErrorTip="Email est requis">
      <nz-input-group nzPrefixIcon="user">
        <input id="email" formControlName="email" nz-input placeholder="Email' | translate" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback nzErrorTip="Le mot de passe actuel est requis">
      <nz-input-group nzPrefixIcon="lock">
        <input id="passwordActuel" formControlName="passwordActuel" nz-input type="password" placeholder="Mot de passe actuel" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback nzErrorTip="Le mot de passe est requis">
      <nz-input-group nzPrefixIcon="lock">
        <input id="password1" formControlName="password1" nz-input type="password" placeholder="Mot de passe" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback nzErrorTip="La confirmation du mot de passe est requis">
      <nz-input-group nzPrefixIcon="lock">
        <input id="password2" formControlName="password2" type="password" nz-input placeholder="Confirmation de mot de passe" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzBlock [nzLoading]="isLoading" nzType="primary" [disabled]="!reinitPasswordForm.valid">Valider</button>
    </nz-form-control>
  </nz-form-item>
</form>
